<!DOCTYPE html>

<html>

<head>

    <title>Real Time Object Detection</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>

        Real Time Object Detection

    </h1>

    <h2>

        YOLOv4 Assistive System

    </h2>


    <button onclick="startCamera()">

        Start Camera

    </button>


    <button onclick="stopCamera()">

        Stop Camera

    </button>

    <br><br>


    <!-- Hidden Camera -->

    <video

        id="video"

        width="640"

        height="480"

        autoplay

        playsinline

        style="display:none;"

    ></video>


    <!-- Canvas for Capture -->

    <canvas

        id="canvas"

        width="640"

        height="480"

        style="display:none;"

    ></canvas>


    <!-- Detection Result -->

    <img

        id="result"

        width="640"

        height="480"

    >


    <br><br>


    <p id="voice_text">

    </p>


<script>

let video = document.getElementById("video");

let canvas = document.getElementById("canvas");

let result = document.getElementById("result");

let voiceText = document.getElementById("voice_text");

let ctx = canvas.getContext("2d");


let interval;

let previousText = "";



function startCamera(){


navigator.mediaDevices.getUserMedia({

video:true

})


.then(function(stream){


video.srcObject = stream;


interval = setInterval(

captureFrame,

1000

);


})


.catch(function(err){

alert(

"Camera Permission Denied"

);

console.log(err);

});

}



function stopCamera(){


clearInterval(interval);


let stream = video.srcObject;


if(stream){

stream

.getTracks()

.forEach(

track => track.stop()

);

}


video.srcObject=null;


result.src="";


speechSynthesis.cancel();


voiceText.innerHTML="";


}



function captureFrame(){


ctx.drawImage(

video,

0,

0,

canvas.width,

canvas.height

);


let imageData =

canvas.toDataURL(

'image/jpeg'

);



fetch('/detect',{


method:'POST',


headers:{

'Content-Type':'application/json'

},


body:JSON.stringify({

image:imageData

})


})


.then(response=>response.json())


.then(data=>{


result.src =

"data:image/jpeg;base64,"

+

data.image;



voiceText.innerHTML=

data.text;



if(

data.text!="" &&

data.text!=previousText

){


previousText=data.text;


let speech=

new SpeechSynthesisUtterance(

data.text

);


speech.rate=1;


speech.pitch=1;


speech.volume=1;


speechSynthesis.speak(

speech

);


}


});


}


</script>


</body>

</html>